
body{
    font-family: "Vollkorn", serif;
    overflow: hidden;
    
    
}
:root{
    --main-color:#86B817;
    --main-padding:70px;
    --section-color:#aaa;
     scroll-behavior: auto;
}
.main-color{
    color: var(--main-color);
}
.loading{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color:black;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader {
    width: 48px;
    height: 48px;
    border: 2px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 0;
    background: var(--main-color);
    width: 3px;
    height: 24px;
    transform: translateX(-50%);
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 



  #sideBar{
    background-color: #000;
   
    color: #FFF;
    position: fixed;
    top: 40%;
    left: 0;
    display: flex;
    align-items: flex-start;
    z-index: 999;
    white-space: nowrap;
  }
  #side-box{
    padding: 10px;
  }
  #sideBar i{
    padding: 10px;
    cursor: pointer;
    font-size: 30px;
  }
  .color-box{
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #aaa;
    border-radius: 50%;
    cursor: pointer;
  }
/*********************title*********************/
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: 30px;
    color: #2C3E50;
    position: relative;
}
.title h2 {
    font-size: 4.5rem;
}
.title h2::before, .title h2::after {
    content: '';
    width: 80px;
    height: 5px;
    position: absolute;
    top: 50%;
    border-radius: 30px;
    background-color: var(--main-color);
}
.title h2::before {
    left: 20%;
}
.title h2::after {
    right: 20%;
}





@media (max-width: 795px) {
    .title h2 {
        font-size: 3.5rem;
    }
    .title h2::before, .title h2::after {
        width: 60px;
    }
    .title h2::before {
        left: 0%;
    }
    .title h2::after {
        right: 0%;
    }
    header .container .caption {
        font-size: 0.6rem;
    }
}


@media (max-width: 480px) {
    .title h2 {
        font-size: 2.5rem;
    }
    .title h2::before, .title h2::after {
        width: 40px;
    }
    .title h2::before {
        left: 0%;
    }
    .title h2::after {
        right: 0%;
    }
    header .container .caption {
        font-size: 0.5rem;
    }
}


/*********************title*********************/

/*********************Navbar*********************/
 .navbar {
   transition: 3s background-color  ease;
   
}
.navbar a{
    color: #fff;
}
nav .nav-link.active{
    color: var(--main-color) !important;
}


/*********************Navbar*********************/



/*********************Home*********************/

header{
    background-image:linear-gradient(rgba(0,0,0,0.5) 0% 100%), url('../images/homepage-specialoffers.jpeg');
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
header .container .caption{
    color: #fff;
}
header .container .caption  a{
    color:#fff;
    text-decoration: none;
}
header .container .caption > a{
    color:var(--main-color);
   
}
header .container .caption ul li a i{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 10px;
    margin-right:5px ;
    transition: 1s color ease,1s background-color ease,1s border ease;
}
header .container .caption ul li a i:hover{
color: var(--main-color);
background-color: #fff;

}
/*********************Home*********************/
/*********************about*********************/
#about{
    
    padding-block: var(--main-padding);
  
}

/*********************about*********************/
/*********************services*********************/
#services{
    
    padding-block: var(--main-padding);
    background-image:url('../images/light_dot.jpg');
}
#services .service-content {
    position: relative;
    padding: 30px;
    border-radius: 5px;
}
#services .service-content i{
    position: absolute;
    top:0;
    transform: translate(-50%,-50%);
    left:50%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    
    border-radius: 50%;
    box-shadow: 0 0 10px #000;
}
#services .service-content h4{
 position: relative;
}
#services .service-content h4::after{
    content: '';
    width: 50px;
    height: 2px;
    background-color: var(--main-color);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s width ease;
}
#services .service-content:hover h4::after{
    width: 90px;
}
/*********************services*********************/
/*********************Testimonial*********************/
#testimonial{
    padding-block: var(--main-padding);
   
}
#testimonial .carousel-item img{
width: 100px;

border-radius: 50%;

transform: translateY(50%);


}

#testimonial .carousel-indicators  button img{
   width: 30px;
   height: 30px;
   border-radius: 50%;
}
#testimonial .slide{
    width: 80%;
    margin: auto;
}
#testimonial .carousel-indicators [data-bs-target]{
    text-indent: 0;
}
/*********************Testimonial*********************/
/*********************Footer*********************/
footer{
    background-color: black;
    text-align: center;
    padding: 40px;
    color: #fff;
}
footer span{
    color:var(--main-color);
}
/*********************Footer*********************/
